  html { height: 100%; width: 100%; overflow:scroll; }
  body { height: 100%; width: 100%; overflow:scroll; margin: 0; padding: 0 }
  #map_canvas, #the-map, #geolocation { height: 100% }
  div.gl_prompt{
  position:fixed;top:0;right:0;background:#ccc;border:1px gray solid;border-radius:3px;
  }
  div.gl_prompt a{cursor:pointer;text-decoration:underline;}
  div.gl_prompt a{text-decoration:none;}
  div.gl_prompt .warn{color:#f00;}
  div.main_menu{
	display:block;
	width: 100%;
  }
  div.main_menu ul{
	display:block;
	text-align: left;
	line-heihgt:1em;
	vertical-align: baseline;
  }
  div.main_menu ul li{
	display:inline-block;
	text-align: left;
	background:#eee;
	border:1px #ccc solid;
	border-radius:3px;
	margin:10px;
	padding:5px;
  }
  div.main_menu ul li a{
	color:#500000;
	text-decoration:underline;
	font:normal normal bold 1em/100% Tahoma, Arial, Helvetica, sans-serif;
  }
  div.main_menu ul li a:hover,div.main_menu ul li a:active{
	color:#f08080;
	text-decoration:none;
  }
  div.main_menu ul li a:link,div.main_menu ul li a:visited{
	color:#500000;
	text-decoration:underline;
  }